/* SchoolLoginPage.css */
.school-login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #f0f2f5; /* Light background */
}

.login-box {
  background-color: #e0eea6;
  padding: 40px;
  height: 300px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
}

h1 {
  margin-top: 10px;
  color: #333;
}

.school-input {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ddd;
  border-radius: 4px;
  border-radius: 10px;
  box-sizing: border-box; /* Ensures padding doesn't increase total width */
}
h6{
  margin-top: 30px;
  text-align: left;
  margin-bottom: 5px;
  color: #0a0a0a;
  font-size: 10px;
}

.continue-button {
  background-color: #e4920e; /* Blue button */
  color: white;
  padding: 10px 40px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 30px;
}

.continue-button:hover {
  background-color: #0056b3; /* Darker blue on hover */
}